
html {
	color: #111;
	font-size: 1em;
	line-height: 1;
	font-family: sans-serif;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}

p {
	font-family: "Dosis", sans-serif;
}

body{
	position: relative;
	height: 2229px;
}

header{
	position: absolute;
	height: 20.6%;
	width: 100%;
}

.header_content {
	position: relative;
	height: 100%;
}

.logo_area {
	left: 20%;
	position: absolute;
	top: 48%;
	width: 14%;
}

.main_photo{
	
	left: 50%;
	position: absolute;
	top: 13%;
	width: 36%;
	height: 78%;
	
}

.icon ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.icon ul li {
	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
	padding: 3% 3.5%;
	width: 37px;
	height: 37px;
}

.icon ul li img{
	width: 37px;
	height: 37px;
	border-radius: 50%;
	position: absolute;
	filter: alpha (Opacity=50);
    opacity: 0.50;
    -moz-transition: all 1s ease-in-out; 
    -webkit-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out; 
	-webkit-transition: .5s;
	transition: .5s;
}

.icon ul li img:hover{
	filter: alpha (Opacity=100);
    opacity: 1;
}

.text-center
{
	text-align: center;
}

/*---------------------------------------------------------------*/

.feature_container
{
	position: absolute;
	height: 100%;
}

#feature{
	top: 20%;
	position: absolute;
	height: 23%;
	width: 100%;
}

#feature h2 {
	color: #444444;
	font-family: "Dosis", sans-serif;
	font-size: 1.4em;
}

#feature h4 {
	color: #444444;
	font-family: "Oxygen", sans-serif;
	font-size: 1.2em;
	margin: 5%;
}

.feature_container p {
	color: #aaaaaa;
	font-family: "Dosis", sans-serif;
	font-size: 0.818em;
	line-height: 1.6;
	font-weight: 100;
	padding-left: 17.4%;
	padding-right: 20.5%;
	font-stretch:  expanded;
}

.feature_container .feature_area  {
	margin-top: 2%;
	width: 75.76%;
	height: 75%;
	position: absolute;
	left: 12.12%;
}


.feature_area div:nth-child(3n) {
	border-right: none;
	float: right;
}

.feature_area .single_feature {
	border-right: 1px solid #eeeeee;
	margin-bottom: 3%;
	width: 33.3%;
	float: left;
	height: 48%;
}

.feature_area .single_feature p{
	color: #bbbbbb;
	font-family: "Dosis", sans-serif;
	font-size: 0.82em;
	line-height: 1.6;
	font-weight: 100;
	padding-left: 10%;
	padding-right: 10%;
	font-stretch:  expanded;
}

.feature_area .single_feature img{
	padding-top: 11%;
}

.single_feature .feature_border{
	width: 84%;
	margin-left: 8%; 
	margin-top: -5%;
	border-top: 1px solid #eeeeee;
}

/*----------------------------------------------------------*/

#about {
	margin-top: 2%;
	top: 44%;
	position:absolute;
	width: 100%;
	height: 22.2%;
}

.about_video_part {
	background: #e3e3e3 none repeat scroll 0 0;
	position: absolute;
	width: 100%;
	height: 60%;
}

.about_text_container{
	height: 80%;
	width: 32.5%;
	position: absolute;
	left: 14%;
	top: 13%;
}

.about_text_container h2 {
	color: #222222;
	font-family: "Dosis", sans-serif;
	font-size: 1.35em;
	margin: 0 0 3%;
	font-weight: 600;
}

.about_text_container p {
	color: #848484;
	font-size: 0.82em;
	font-stretch:  normal;
	line-height: 1.6;
}

.about_text_container ul {
	list-style: outside none none;
	padding-left: 3%;
	padding-top: 2%;
}

.about_text_container ul li {
	color: #848484;
	font-size: 0.82em;
	line-height: 1.8;
}

.about_text_container ul li b{
	color: #333333;
}

.video_image
{
	position:absolute;
	top: 0px;
	left: 53.1%;
	width: 38.44%;
	height: 97%;
}

.slider_container{
	position: absolute;
	top: 60%;
	height: 40%;
	width: 100%;
}

.slider_container .slider{
	width: 100%;
	height: 80%;
	top: 20%;
	position: absolute;
}

.slider .slide p {
	font-size: 1.2em;
	font-style: italic;
	color: #aaaaaa;
}
.slider .slide h6 {
	color: #222222;
	font-family: "Dosis", sans-serif;
	font-size: 0.85em;
	font-weight: 600;
}

/*-----------------------------------------------------------------*/

#pricing{
	position: absolute;
	width: 100%;
	height: 18.8%;
	top: 66.2%;
}

#pricing .pricing_container{
	background: #e7e7e7 none repeat scroll 0 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.pricing_container .pricing_header{
	position: absolute;
	height: 21.1%;
	width: 80%;
	top: 10%;
	left: 10%;
}

h2.heading {
	color: #222222;
	font-family: "Dosis", sans-serif;
	font-size: 1.3em;
	font-weight: 600;
	margin: 0 0 1.3%;
}

.pricing_header p{
	font-size: 0.8em;
	margin-left: 8%;
	margin-right: 8%;
	color: #aaaaaa;
	letter-spacing: 0.5px;
}

.pricing_container .pricing_table_area{
	position: absolute;
	top: 34%;
	height: 80%;
	width: 74%;
	left: 13%;
}

.pricing_table {
	background: #fff none repeat scroll 0 0;
	float: left;
	margin-bottom: -4%;
	margin-right: 2px;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	width: 24.5%;
}
.pricing_table:hover {
	border-left: 3px solid #E7E7E7;
	border-right: 3px solid #E7E7E7;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.pricing_table h2 {
	background: #3498fd none repeat scroll 0 0;
	color: #fff;
	font-family: "Dosis", sans-serif;
	margin-top: 0;
	padding: 3% 0;
	font-size: 1.4em;
}

.pricing_table span{
	font-size: 1em;
}

.pricing_table sup{
	font-size: 0.6em;
}

.pricing_table ul {
	list-style: none;
	padding: 0;
}
.pricing_table ul li {
	border-bottom: 1px solid #C2C2C2;
	margin: 0 auto;
	padding: 4% 0;
	width: 90%;
	color: #aaaaaa;
	font-size: 0.8em;
}
.pricing_table ul li:first-child {
	font-size: 2em;
	font-family: 'Fjalla One', sans-serif;
	color: #222222;
	margin-top: -7%;
}
.pricing_table ul li:last-child {
	border-bottom: none;
}
h2.button {
	margin-bottom: 0;
	padding: 5% 0;
}

.btn-primary {
	background-color: #0d74b9;
	border-color: #0d74b9;
	color: #fff;
}
.btn {
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 6px 27px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
}

/*----------------------------------------------------------------------*/

#social {
	position:absolute;
	top: 90%;
	height: 4.5%;
	width: 100%;
}
.social_area h2 {
	color: #222222;
	font-family: "Dosis", sans-serif;
	font-size: 1.4em;
	font-weight: 600;
	margin-top: 0%;
}
.social_area p {
	color: #aaaaaa;
	font-size: 0.8em;
}

.social ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social ul li {
	border-radius: 50%;
	display: inline-block;
	padding-top: 0.5%;
	padding-right: 5px;
	width: 25px;
	height: 25px;
}

.social ul li img{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	filter: alpha (Opacity=50);
    opacity: 0.50;
    -moz-transition: all 1s ease-in-out; 
    -webkit-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out; 
	-webkit-transition: .5s;
	transition: .5s;
}

.social ul li img:hover{
	filter: alpha (Opacity=100);
    opacity: 1;
}

/*-------------------------------------------------------------------------*/

.text-capitalize
{
	text-transform: capitalize;
}

#footer {
	background: #e3e3e3 none repeat scroll 0 0;
	position: absolute;
	top: 95.7%;
	height: 4.3%;
	width: 100%;
}
#footer footer .footer_menu {
	position: absolute;
	margin-top: 50%;
	width: 60%;
	height: 20%;
}

footer ul{
	left: 30%;
	top: 45%;
	position: absolute;
	width:40%;
}

footer ul li {
	margin-right: 5%;
	display: inline-block;
}
footer ul li a {
	text-decoration: none;
	color: #aaaaaa;
	font-size: 0.8em;
	-webkit-transition: .3s;
	transition: .3s;
}
footer ul li a:hover {
	text-decoration: none;
	color: #575757;
}
/*------------------------------------------------------*/
body
{
	margin: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary
{
	display: block;
}

template
{
	display: none;
}

a
{
	background-color: transparent;
}
a:active,a:hover
{
	outline: 0;
}

button,input,optgroup,select,textarea
{
	color: inherit;
	font: inherit;
	margin: 0;
}
button
{
	overflow: visible;
}
button,select
{
	text-transform: none;
}
button
{
	cursor: pointer;
	webkit-appearance: button;
}

button::-moz-focus-inner,input::-moz-focus-inner
{
	border: 0;
	padding: 0;
}

textarea
{
	overflow: auto;
}

*
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
:after,:before
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}

body
{
	background-color: #fff;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}
button,input,select,textarea
{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
a
{
	color: #337ab7;
	text-decoration: none;
}
a:focus,a:hover
{
	color: #23527c;
	text-decoration: underline;
}
a:focus
{
	outline: 5px auto -webkit-focus-ring-color;
	outline: thin dotted;
	outline-offset: -2px;
}
figure
{
	margin: 0;
}

hr
{
	border: 0;
	border-top: 1px solid #eee;
	margin-bottom: 20px;
	margin-top: 20px;
}

h1,h2,h3,h4,h5,h6
{
	color: inherit;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}
h1,h2,h3
{
	margin-bottom: 10px;
	margin-top: 20px;
}

h4,h5,h6
{
	margin-bottom: 10px;
	margin-top: 10px;
}

p
{
	margin: 0 0 10px;
}

small
{
	font-size: 85%;
}
mark
{
	background-color: #fcf8e3;
	padding: .2em;
}

ol,ul
{
	margin-bottom: 10px;
	margin-top: 0;
}

dl
{
	margin-bottom: 20px;
	margin-top: 0;
}
dd,dt
{
	line-height: 1.42857143;
}
dt
{
	font-weight: 700;
}
dd
{
	margin-left: 0;
}

blockquote
{
	border-left: 5px solid #eee;
	font-size: 17.5px;
	margin: 0 0 20px;
	padding: 10px 20px;
}

address
{
	font-style: normal;
	line-height: 1.42857143;
	margin-bottom: 20px;
}
code,kbd,pre,samp
{
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
code
{
	background-color: #f9f2f4;
	border-radius: 4px;
	color: #c7254e;
	font-size: 90%;
	padding: 2px 4px;
}
kbd
{
	background-color: #333;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
	color: #fff;
	font-size: 90%;
	padding: 2px 4px;
	webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

pre
{
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #333;
	display: block;
	font-size: 13px;
	line-height: 1.42857143;
	margin: 0 0 10px;
	padding: 9.5px;
	word-break: break-all;
	word-wrap: break-word;
}

table
{
	background-color: transparent;
}
caption
{
	color: #777;
	padding-bottom: 8px;
	padding-top: 8px;
	text-align: left;
}
th
{
	text-align: left;
}

fieldset
{
	border: 0;
	margin: 0;
	min-width: 0;
	padding: 0;
}
legend
{
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	color: #333;
	display: block;
	font-size: 21px;
	line-height: inherit;
	margin-bottom: 20px;
	padding: 0;
	width: 100%;
}
label
{
	display: inline-block;
	font-weight: 700;
	margin-bottom: 5px;
	max-width: 100%;
}

output
{
	color: #555;
	display: block;
	font-size: 14px;
	line-height: 1.42857143;
	padding-top: 7px;
}

.btn
{
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	margin-bottom: 0;
	moz-user-select: none;
	ms-touch-action: manipulation;
	ms-user-select: none;
	padding: 6px 12px;
	text-align: center;
	touch-action: manipulation;
	user-select: none;
	vertical-align: middle;
	webkit-user-select: none;
	white-space: nowrap;
}
.btn.active:focus,.btn:focus
{
	outline: 5px auto -webkit-focus-ring-color;
	outline: thin dotted;
	outline-offset: -2px;
}
.btn:focus,.btn:hover
{
	color: #333;
	text-decoration: none;
}
.btn:active
{
	background-image: none;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	outline: 0;
	webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-primary
{
	background-color: #337ab7;
	border-color: #2e6da4;
	color: #fff;
}
.btn-primary:focus
{
	background-color: #286090;
	border-color: #122b40;
	color: #fff;
}
.btn-primary:hover
{
	background-color: #286090;
	border-color: #204d74;
	color: #fff;
}
.btn-primary:active
{
	background-color: #286090;
	border-color: #204d74;
	color: #fff;
}
.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active:focus,
.btn-primary:active:hover
{
	background-color: #204d74;
	border-color: #122b40;
	color: #fff;
}
.btn-primary:active
{
	background-image: none;
}

@media all and (transform-3d),(-webkit-transform-3d)
{

}

@media screen and (min-width:768px)
{
	
}

@-ms-viewport
{
	width: device-width;
}

@media (min-width:768px)
{
	
}
@media (min-width:992px)
{
	
}
@media (min-width:1200px)
{
	
}

@media (min-width:768px)
{
	

}

/*===========20em (320px)===========*/

@media only screen and (min-width: 320px) and (max-width:479px) {
	.logo_area {
		left: 1%;
		top: 0;
		width: 56%;
	}
	.logo_area img {
		width: 55%;
	}
	
	.pricing_table {
		margin: 4% 17%;
		width: 64%;
	}
	#footer {
		margin-top: 9%;
	}
	.footer_menu {
		margin: 0 auto;
		width: 100%;
	}
	.icon ul li {
		height: 30px;
		width: 30px;
	}
	.icon ul > li i {
		font-size: 120%;
	}
	
	.pricing_table:hover {
		border-left: none;
		border-right: none;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
}


/* ===== == = === 30em (480px) === = == ===== */

@media only screen and (min-width: 480px) and (max-width:599px) {
	.logo_area {
		left: 2%;
		top: 0;
		width: 70%;
	}
	
	.icon ul li {
		height: 35px;
		width: 35px;
		padding: 2% 2.5%;
	}
	.icon ul li:last-child {
		padding: 2%;
	}
	.icon ul > li i {
		font-size: 120%;
	}
	.pricing_table {
		margin: 4% 17%;
		width: 64%;
	}
	#footer {
		margin-top: 9%;
	}
	.footer_menu {
		width: 80%;
		margin: 0 auto;
	}
	footer ul li {
		display: inline-block;
		padding: 0 5px;
	}
}


/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: 600px) and (max-width:767px) {
	.logo_area {
		left: 10%;
		width: 54%;
		top: 0;
	}
	.pricing_table {
		margin: 4% 17%;
		width: 64%;
	}
	#footer {
		margin-top: 9%;
	}
	
}


/* ===== == = === 48em (768px) === = == ===== */

@media only screen and (min-width: 768px) and (max-width:899px) {
	.logo_area {
		top: 14%;
	}
	.icon ul > li i {
		padding: 5px;
	}
	
}


/* ===== == = === 56.25em (900px) === = == ===== */

@media only screen and (min-width: 900px) and (max-width:1099px) {
	.icon ul > li i {
		padding: 3px;
	}
	
}


/* ===== == = === 68.75em (1100px) === = == ===== */

@media only screen and (min-width: 1100px) {
	
}


/* ===== == = === 81.25em (1300px) === = == ===== */

@media only screen and (min-width: 1300px) {
	
} 
