.flex-container {
  display: flex;
  border: 1px solid #000;  
}
.flex-container div {
  padding: 30px;
  border: 1px solid #0072FF;
  background-color: #e6e6e6;
}
.main-content:after {
  clear: both;
};